In [35]:
from bs4 import BeautifulSoup as bs
import requests
import pandas as pd
from splinter import Browser
import pymongo
from flask import Flask, render_template, redirect
from flask_pymongo import PyMongo

In [36]:
executable_path = {'executable_path': 'Desktop\chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

In [10]:
url_titleandparagraph = 'https://mars.nasa.gov/news/'
browser.visit(url_titleandparagraph)

In [11]:
html = browser.html
soup = bs(html, 'html.parser')

In [12]:
news_title = soup.title.text.strip()

In [13]:
print(news_title)

News  – NASA’s Mars Exploration Program

In [22]:
news_paragraphs = soup.find('div', class_="article_teaser_body")

news_paragraphs = news_paragraphs.text.strip()
print(news_paragraphs)

New evidence suggests salty, shallow ponds once dotted a Martian crater — a sign of the planet's drying climate.

In [23]:
url_featuredimages = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
browser.visit(url_featuredimages)

In [24]:
html = browser.html
soup = bs(html, 'html.parser')

In [29]:
#so this isn't helpful?
featured_image_url = soup.find('article', class_= "carousel_item")
print(featured_image_url)

<article alt="Animation of Ceres" class="carousel_item" style="background-image: url('/spaceimages/images/wallpaper/PIA19180-1920x1200.jpg');">
<div class="default floating_text_area ms-layer">
<h2 class="category_title">
</h2>
<h2 class="brand_title">
				  FEATURED IMAGE
				</h2>
<h1 class="media_feature_title">
				  Animation of Ceres				</h1>
<div class="description">
</div>
<footer>
<a class="button fancybox" data-description="This still from an animation showcases a series of images NASA's Dawn spacecraft took on approach to Ceres on Feb. 4, 2015 at a distance of about 90,000 miles (145,000 kilometers) from the dwarf planet." data-fancybox-group="images" data-fancybox-href="/spaceimages/images/mediumsize/PIA19180_ip.jpg" data-link="/spaceimages/details.php?id=PIA19180" data-title="Animation of Ceres" id="full_image">
					FULL IMAGE
				  </a>
</footer>
</div>
<div class="gradient_container_top"></div>
<div class="gradient_container_bottom"></div>
</article>

In [30]:
#so what's this?
featured = browser.find_by_tag('article')
print(featured)

<splinter.element_list.ElementList object at 0x000001C545075400>

In [38]:
url_marsweather = 'https://twitter.com/marswxreport?lang=en'
browser.visit(url_marsweather)   
html = browser.html
soup = bs(html, 'html.parser')

In [39]:
#need to strip out jpg url
mars_weather = soup.find('div', class_= "AdaptiveMedia-photoContainer js-adaptive-photo")
print(mars_weather)

<div class="AdaptiveMedia-photoContainer js-adaptive-photo" data-dominant-color="[50,50,64]" data-element-context="platform_photo_card" data-image-url="https://pbs.twimg.com/media/EGi46dxX0AIXKu1.jpg" style="background-color:rgba(50,50,64,1.0);">
<img alt="" data-aria-label-part="" src="https://pbs.twimg.com/media/EGi46dxX0AIXKu1.jpg" style="width: 100%; top: -0px;"/>
</div>

In [40]:
url_marsfacts = 'https://space-facts.com/mars/'
browser.visit(url_marsfacts)   
html = browser.html
soup = bs(html, 'html.parser')

In [41]:
#didn't need browser to do this
tables = pd.read_html(url_marsfacts)
tables

[  Mars - Earth Comparison             Mars            Earth
 0               Diameter:         6,779 km        12,742 km
 1                   Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 2                  Moons:                2                1
 3      Distance from Sun:   227,943,824 km   149,598,262 km
 4         Length of Year:   687 Earth days      365.24 days
 5            Temperature:    -153 to 20 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [42]:
df = tables[0]
df.columns = ['Mars - Earth Comparison', 'Mars', 'Earth']
df.head()

  Mars - Earth Comparison             Mars            Earth
0               Diameter:         6,779 km        12,742 km
1                   Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
2                  Moons:                2                1
3      Distance from Sun:   227,943,824 km   149,598,262 km
4         Length of Year:   687 Earth days      365.24 days

In [43]:
df.set_index('Mars - Earth Comparison', inplace=True)
df.head()

                                    Mars            Earth
Mars - Earth Comparison
Diameter:                       6,779 km        12,742 km
Mass:                    6.39 × 10^23 kg  5.97 × 10^24 kg
Moons:                                 2                1
Distance from Sun:        227,943,824 km   149,598,262 km
Length of Year:           687 Earth days      365.24 days